.navbar {
  margin-left: -15px; // Make it screen wide
  margin-right: -15px;

  .navbar-brand {
    display: none;
  }

  &.affix {
    @extend .navbar-fixed-top; // Inherit the behaviour of the sticky nav bar

    @media screen and (max-width: $grid-float-breakpoint-max) {
      padding-left: 15px;
      padding-right: 15px;
    }

    .navbar-brand {
      display: inline-block;
      color: $brand-tertiary;
    }

    @media screen and(min-width: $grid-float-breakpoint-max+1) {
      .navbar-header {
        float: right;
      }
    }
  }
}

.nav .open {
	> a, > a:hover, > a:focus {
		background-color: $brand-secondary;
	}
}

.navbar-toggle {
    .icon-bar {
        transition: 400ms ease-in-out;
        background-color: #fff;
        position: relative;
        width: 24px;
        height: 2px;
    }
    .icon-bar:last-child {
        transform: rotate(-45deg);
        top: -12px;
    }
    .icon-bar:nth-child(2) {
        transform: rotate(45deg);
        top: 0;
    }
    .icon-bar:nth-child(3) {
        opacity: 0;
    }
    &.collapsed {
        .icon-bar {
            transform: rotate(0deg);        
            top: 0;
            opacity: 1;
        }
    }
}

// Pagination //
.pagination {
	height: 40px;
	display: flex;
	justify-content: center;

	&__link {
		height: 40px;
		width: 40px;
		border: 1px solid $brand-secondary;
		border-left-width: 0;
		display: flex;
		justify-content: space-around;
		align-items: center;
		color: $brand-primary;
		cursor: pointer;

		&:first-child {
			border-left-width: 1px;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}

		&:last-child {
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}

		&:hover {
			background-color: darken($brand-tertiary, 20%);
		}

		&--current {
			background-color: darken($brand-tertiary, 10%);
			cursor: unset;
		}
	}
}
