.post {
	width: 100%;
	z-index: 10;

	&__readmore {
		// It should behave like a button, so extend Bootstraps button classes
		@extend .btn;
		@extend .btn-primary;

		margin: 5px;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-content: flex-start;
	}

	&__title {
		margin-top: 0;
	}

	&--preview {
		border-bottom: 1px solid $brand-primary;
		margin-bottom: 30px;

		.post__content {
			margin-top: -100px;
			max-height: 300px;
			overflow: hidden;

			&::before {
				background-image: linear-gradient(rgba(0,0,0,0), #f5f8fa);
				display: block;
				width: 100%;
				height: 100px;
				content: "";
				position: relative;
				top: 200px;
			}
		}
	}
}
